.card_component {
    width: 200px;
    min-height: 100px;
    box-shadow: -2px 0px 10px black;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 200ms ease-in;
}
.card_component p {
    font-size:1.6rem;
    color: white;
}

.card_component:hover {
    background-color: rgba(245, 245, 220, 0.166);
    cursor: pointer;
    scale: 1.10;
    box-shadow: -2px 0px 10px #55bfd251;
}