.container_card {
    width: 375px;
    height: 500px;
    border: 2px solid #667;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    position: relative;

}
.container_img {
    display: flex;
    height: 50%;
    align-items: start;

}
.imagem_card {
    display: flex;
    width: 90%;
    height: 100%;

}
.text {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.descricao_card {
    font-size: 2em;
    color: #eee;
    text-align: start;
    padding-bottom: 30px;
    text-align: start;
}

.titulo_card {
    display: flex;
    align-items: center;
    gap:10px;
    color:#eee;
    font-size: 2.5em;
}
.titulo_card svg {
    color: #55BFD2;
}
.button_class {
    text-decoration: none;
    font-size: 2.5em;
    display: flex;
    background-color: #222;
   position: absolute;
    display: flex;
    color:white;
    width:95%;
    padding: 5px;
    bottom: 0;
   
}
.button_class:hover {
    opacity: 0.97;
    border-radius: 5px;
    background-color: rgb(8, 6, 6);
}