.containerStyle {
    width: 35%;
    height:500px;
    margin: 20px 0px 20px;
}
.imageStyle {
    margin: 0 auto;
    width: 70%;
    height:700px ;
    border-radius: 8px;
    padding-bottom: 20px
  };
@media (max-width:500px){
    .containerStyle {
        width: 90%;
        height: 525px;
        margin: 10px 0px -20px;

    }
    .imageStyle {
        margin: 0 auto;
        width: 70%;
        height:100% ;
        border-radius: 8px;
      };
}