.section-portfolio {
    /* height: 180vh; */
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 20px;
    color: #f5f5f5;
    font-size: 2.2rem;
    row-gap: 4rem;
    margin-bottom: 100px;

}
@media (max-width:850px){
    .section-portfolio {
    grid-template-columns:1fr;

    }
    .container-portfolio {
        display: grid;
        grid-template-columns: 70fr 80fr;
        align-items: center;
        text-align: center;      
    }

}


.container-portfolio {
    display: grid;
    grid-template-columns: 70fr 100fr;
    align-items: center;
    text-align: center;
    position: relative;
    
    
}
.container-portfolio img {
    border-radius:10px;
    width: 93%;
    height: 220px;
    transition: all .3s;
 
}

.container-portfolio img:hover {
    transform: scale(1.05)
}

.restaurante::before {
    content: "DEVELOPING";
    background-color: #f5f5f5f5;
    color: black;
    position: absolute;
    top: 0;
    right: -2.5rem;
  border-radius: 3px;
    transform:rotate(30deg);
    z-index: ;
}
@media (max-width:520px){

    .section-portfolio {
        margin-top: 20px;
        color: #f5f5f5;
        font-size: 1.6rem;
        row-gap: 4rem;
     
        }
        .container-portfolio {
            display: flex;
            flex-direction: row;
           flex-direction: column;
            align-items: center;
            text-align: center;      
            width: 100%;
            margin: 0 auto;
        }
        .restaurante::before {
            content: "DEVELOPING";
            background-color: #f5f5f5f5;
            color: black;
            position: absolute;
            top: 2.8rem;
            right: -2rem;
          border-radius: 3px;
            transform:rotate(45deg);
            z-index: 5;
        }
       
}