body {
    background-color:#151515 
}
.section-portfolio {
    display: flex;
    flex-direction: column;
    background-color:#151515 ;
    justify-content: center;
    align-items: center;
padding-bottom: 200px;
}

.titulo_separador {
    text-align: center;
    font-size: 4em;
    color: #eee;
}
h2 {
    color: aliceblue;
    font-size: 2em;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.input {
    width: 50%;
    margin: 0 auto;
    position: relative;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 18px;
}
.input_element {
    display: flex;
    position: relative;
}

.search_icon {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 4px;
    right: 25.5%;
}
.grid_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid #1F1F1F;
    column-gap: 20px;
}

