.card {
    font-size: 2.5rem;
    width: 75%;
    margin: 0 auto;
    color:#f3f3f3;
    text-align: left;
    padding-bottom: 20px;
 }
 
.profissinal {

    font-size: 3rem;

}


.titulo {
    font-size: 3rem;
    color: #f3f3f3;;
}

.picture {
    padding-top: 20px;
    max-width: 500px;
}
@media (max-width:500px){
    .picture {
        max-height: 250px;
    }
}




 .udemy_link:hover {
color: rgb(215, 79, 215);
 }


.sections-profissional {
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width:1000px){
    .sections-profissional {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.sections-profissional img {
    width: 45px;
}


@media (max-width:520px){
    .card {
        font-size: 1.5rem;
        width: 75%;
        margin: 0 auto;
        color:#f3f3f3;
        text-align: left;
        padding-bottom: 20px;
     }
     .sections-profissional {
        display: grid;
        grid-template-columns: 100fr;
    }
}