.card {
    font-size: 2.5rem;
    width: 75%;
    margin: 0 auto;
    color:#f3f3f3;
    text-align: left;
    padding-bottom: 20px;
 }
 
.profissinal {

    font-size: 3rem;

}


.titulo {
    font-size: 3rem;
    color: #f3f3f3;;
}

.picture {
    padding-top: 20px;
    max-width: 500px;
}
@media (max-width:500px){
    .picture {
        max-height: 250px;
    }
}


.minus {
    color:#56bb8f;
    font-weight: bolder;
    text-decoration: none;

}
.minus:hover {
    color: #f8f6f6;
    font-weight: 700;
     transition: 0.4 ease-in-out;
 }

 .udemy_link {
    text-decoration: none;
    color: #e31ac1;
    transition: all 400ms;
 }


 .udemy_link:hover {
color: rgb(215, 79, 215);
 }

 /* TECNOS , LOGOS */
 .tecnos-logos {
    width: 4rem;
 }
 .tecno {
    
    display: flex;
    gap: 3rem;

}
.sections-profissional {
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.sections-profissional img {
    width: 45px;
}


@media (max-width:520px){
    .card {
        font-size: 1.5rem;
        width: 75%;
        margin: 0 auto;
        color:#f3f3f3;
        text-align: left;
        padding-bottom: 20px;
     }
     .sections-profissional {
        display: grid;
        grid-template-columns: 100fr;
    }
}